* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared style */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    background-color: #30b868;
    color: #ffffff;
    border-radius: 4px;
    border: none;
}

.section-heading {
    font-weight: bold;
    font-size: 48px;
}

/* notes code here */

.notes-box {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
}


.notes-card {
    width: 322px;
    gap: 24px;
    /*box-shadow: red;*/
    box-shadow: 0 6px 50px 0 rgb(231, 227, 227);
    text-align: center;

}
.notes-card img {
    width: 32px;
    height: 32px;
    border-radius: 1000px;
    margin: 83.54px 144.91px 29.96px 145.09px;
}

.notes-card h3 {
    font-weight: 24px;
}
.notes-card p {
    margin-top: 16px;
    color: #627382;
}


/* main style */

/* code for navigation bar*/
header {
    width: 1600px;
    background-color: #ffffff;
}

nav {
    display: flex;
    margin: 16px 120px;
    justify-content: space-between;
    align-items: center;
    
}

nav .logo {
    width: 139px;
    height: 60px;
    margin: 16px;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;

}
nav .btn {
    width: 164px;
    height: 44px;
}


/* code for banner section */
#banner {
    padding: 115px 120px 179px 120px;

    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner #banner-content {
    max-width: 1360px;

}


#banner #banner-content #access-button {
    color: #30b868;
    border-radius: 1000px;
    width: 229px;
    height: 36px;
    margin: 0px 565.5px 16px;
}


#banner-content #header-text {
    margin: 16px 295px 0px 295px;
    width: 770px;
    height: 168px;
    font-size: 72px;
    text-align: center;
}

#header-text #white {
    color: white;
}
#header-text #green {
    color: #30b868;
}

#banner-content #text p {
    margin: 16px 295px 0px 295px;
    text-align: center;
    color: white;
    font-size: 18px;
}


/* banner button desighn */

#banner-content ul {
    margin: 32px 447.5px 0px;
    display: flex;
    gap: 16px;
}


#banner-content #start {
    width: 251px;
    height: 52px;
    font-size: 16px;

}

#banner-content #see {
    width: 198px;
    height: 52px;
    font-size: 16px;
    background-color: transparent;
    border: solid white 1px;

}

/* codes for notes section */

#notes {
    padding-top: 50px;
}

#notes-container{
    margin: 0px 120px;
}

.notes-card img {
    width: 48px;
    height: auto;
    background-color: red;
}


#notes-container #notes-text{
    text-align: center;
}
#notes-container #notes-text p {
    color: #627382;
}

