* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared style */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    background-color: #30b868;
    color: #ffffff;
    border-radius: 4px;
    border: none;
}

/* main style */

/* code for navigation bar*/
header {
    width: 1600px;
    height: 92px;
    background-color: #ffffff;
}

nav {
    display: flex;
    margin: 16px 120px;
    justify-content: space-between;
    align-items: center;
    
}

nav .logo {
    width: 139px;
    height: 60px;
    margin: 16px;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;

}
nav .btn {
    width: 164px;
    height: 44px;
}


/* code for banner section */
#banner {
    padding: 115px 120px 179px 120px;

    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner #banner-content {
    max-width: 1360px;

}


#banner #banner-content #access-button {
    color: #30b868;
    border-radius: 1000px;
    width: 229px;
    height: 36px;
    margin: 0px 565.5px 16px;
}


#banner-content #header-text {
    margin: 16px 295px 0px 295px;
    width: 770px;
    height: 168px;
    font-size: 72px;
    text-align: center;
}

#header-text #white {
    color: white;
}
#header-text #green {
    color: #30b868;
}

#banner-content #text p {
    margin: 16px 295px 0px 295px;
    text-align: center;
    color: white;
    font-size: 18px;
}


/* banner button desighn */

#banner-content ul {
    margin: 32px 447.5px 0px;
    display: flex;
    gap: 16px;
}


#banner-content #start {
    width: 251px;
    height: 52px;
    font-size: 16px;

}

#banner-content #see {
    width: 198px;
    height: 52px;
    font-size: 16px;
    background-color: transparent;
    border: solid white 1px;

}
